<!DOCTYPE html>
<html>
    <head>
        <title>InstaWedding</title>

        <meta charset="utf-8">

        <meta name="viewport" content="width=640, initial-scale=.5, maximum-scale=1">
        
        <link href='./css/reset.css' media='all' rel='stylesheet' type='text/css' />
        <link href='./css/main.css' media='all' rel='stylesheet' type='text/css' />
        
        <script src='http://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js' type='text/javascript'></script>
        <script src='./js/jq.easing.js' type='text/javascript'></script>
        <script src='./js/main.js' type='text/javascript'></script>
        <script src='./js/Instagram.js' type='text/javascript'></script>
        <script src='./js/plugins.js' type='text/javascript'></script>
        <script type="text/javascript">
            var pics = <%= pics %>;
        </script>
    </head>
    <body>
        <div id="wrapper">
            <div id="photos" class="clear">
                <%= yield %>
            </div>
            <div id="nav">
                <ul class="clear">
                    <li><a class="schedule" href="#">schedule</a></li>
                    <li><a class="registry" href="#">registry</a></li>
                    <li class="last"><a class="gettinghere" href="#">getting ready</a></li>
                </ul>
            </div>
            <div id="hashtag">
                <p>#craigandbeegetmarried</p>
            </div>
            <div id="content">
                <div id="registry">
                    <p>Of course no gifts are necessary; we’re thankful you can share our day with us! We live in a small apartment in San Francisco with almost everything we need. We have registered for a few things here, but cash is more appreciated!</p>
                    <p>Link to come</p>
                </div>
                <div id="schedule">
                    <h1>Welcome Gathering</h1>
                    <p>Thursday 7:30-10:00pm</p>
                    <p>Please join us at the Alpine Club for some mingling and a brief program around Bee&Craig. The dress code is Aprés Ski Chic. Cash bar will be available.</p>

                    <h1>On-Going Snowman Building Contest</h1>
                    <p>Stop by Aspen Grove Unit 4C anytime and add a snowman to our contest gallery! Final judging will occur Sunday morning during the coffee and donuts send-off, with celebrity guest judge Arye Dworken. (Yes, that’s his real name.) Kids and adults welcome.</p>

                    <h1>The Big Day</h1>
                    <p>Friday Morning</p>
                    <p>Feel free to ski if you like; just don’t be late! Reaching the Ritz from the Village by gondola will take about 15 minutes.</p>
                    <p>4:00-4:30</p>
                    <p>Follow the signs to the Ritz Carlton Living Room to relax and mingle, have a drink from the bar or warm yourself by the fire until the ceremony is ready to begin.</p>
                    <p>5:45-11:30</p>
                    <p>We’ll move indoors for cocktail hour, followed by dinner and tons of dancing. We will need to start boarding the gondola at 11:30 to get everyone down before it closes at midnight.</p>

                    <p>Saturday</p>
                    <p>Planning for this day is still underway. Possibilities include: snow picnic, group tubing, fire and ice party, ice skating</p>

                    <p>Saturday Evening</br>
                    What Do We Do?</p>

                    <h1>Coffee and Donuts Snow Picnic Send-Off</h1>
                    <p>Sunday, 10-12<br />
                    Before you head out of Tahoe, stop by Aspen Grove unit 4C to witness the grandeur of our Snowman Gallery and the crowning of our contest winner. Plus, there’s coffee and donuts.</p>

                    <p2>INTERNAL SCHEDULE</p2>
                    <p>Thursday</p>
                    <p>AM- Morning Ski and Group Lunch<br />
                    2:00 pm Thursday- Ski in to the rehearsal at the Ritz, after rehearsal, ski down to the village, take showers and get dressed for dinner</p>
                    <p>5:30 pm Meet at Alpine Club for Rehearsal Dinner</p>
                    <p>7:30 pm Guests arrive at Alpine Club</p>
                    <p>10:30 pm Leave Alpine and head to Chocolate Bar</p>

                    <p>Friday</p>
                    <p>Morning -Prepping and Primping<br />
                    4:30 pm? -Ceremony<br />
                    5:30 pm Friday -Cocktail Hour and Pictures<br />
                    6:30 pm Friday -Dinner and Dancing<br />
                    9:30 pm -Guests Begin relocating to Chocolate Bar<br />

                    <p>Saturday-- Lift Ticket Day</p>
                    <p>Group Tubing? And Skiing<br />
                    Snow Picnic?</p>

                    <p>Sunday</p>
                    <p>AM- Skating send off!</p>

                </div>
                <div id="gettinghere">
                    <p>The wedding itself will be at the Ritz Carlton. Lodging and other gatherings will be in Northstar Village, which is connected to the Ritz by gondola and shuttle bus until 10 pm.</p>
                     
                    <p>Northstar Resort is about 45 minutes from Reno Airport, serviced by most major airlines. It is a 3 hour drive from San Francisco. **Winter driving in this area is intense. If you plan to drive at all, you will need either 4 wheel drive or tire chains, by law. Please don’t take this lightly!</p>
                     
                    <h2>Do I Have to Drive?</h2>
                    <p>Nope. We’ve tried to plan this weekend so that driving is not required. As long as you are staying in the Northstar Village Rooms & Lofts, you don’t have to drive! If you stay in other lodging within the resort (Gold Bend, Ski Trails, Aspen Grove, etc), free shuttles run within the resort from 8 am to 10 pm. Call a shuttle at 530.562.2257. Put it in your phone right now!</p>
                     
                    <h2>How Do I Get To And From the Airport?</h2>
                    <p>North Lake Tahoe Express offers shuttle service from Reno Airport daily at:</p>
                    <table>
                        <tr>
                            <td>8:00am</td>
                            <td>1:00pm</td>
                            <td>5:30pm</td>
                            <td>11:15pm</td>
                        </tr>
                        <tr>
                            <td>11:15am</td>
                            <td>3:15pm</td>
                            <td>7:30pm</td>
                            <td></td>
                        </tr>
                    </table>
                                           

                    <p>Shuttles leave Northstar Village for the airport daily at:</p>
                    <table>
                        <tr>
                            <td>4:00am</td>
                            <td>9:15am</td>
                            <td>5:15pm</td>
                        </tr>
                        <tr>
                            <td>6:00am</td>
                            <td>1:15pm</td>
                        </tr>
                    </table>

                    <p>24 hour advance reservations are required; use group code . Round trip for one is $85. The bigger your group, the lower the cost per person.</p>
                    <p>
                        <a href="http://www.northlaketahoeexpress.com/">http://www.northlaketahoeexpress.com/</a><br/>
                        866.216.5222<br/>
                        Jamie 530-546-3551
                    </p>
                     
                    <h2>Where Do I Sleep n Stuff?</h2>
                    <p>Make your reservations soon; space will fill up! Our group code (GB4RMW ) will get you a discount on all Northstar condos and houses. There’s a wide array of configurations with 0-4 bedrooms per unit, some with kitchens. Buddy up for a better rate!<p>
                    <p><a href="http://www.northstarcalifornia.com/bee-craig">http://northstarcalifornia.com/bee-craig</a></p>
                    <p>For maximum accessibility, we recommend the centrally located Northstar Rooms and Lofts.</p>
                    <p>Other group rate lodging will be accessible by shuttle until 2am the night of the wedding and until 10 pm other nights. The Ski Trails Condos offer Ski In/Ski Out Access.</p>
                     
                    <h2>I’m Fancy Or Something. Are There Other Lodging Options?</h2>
                    <p>Well, look at you. You can stay at the Ritz and soak your feet in champagne every night. You will have access to the Village via gondola until 10 pm. Airbnb has some options within the resort; but likely our group rate is a better value. There are many other options throughout the Tahoe area, but of course, you’ll need a car for these. Feel free to poke around.</p>
                </div> 
            </div>
        </div>
    </body>
</html>